// .app-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   h1 {
//     position: fixed;
//     top: 0;
//     text-align: center;
//     width: 100%;
//     margin: 0;
//     padding: 50px 0;
//     background-color: $off-black;
//     color: $off-white;
//     box-shadow: 0px 0px 10px 2px lighten($off-black, 50%);
//   }
// }
/*  ------ Global settings */

* {
  font-family: Cambria, Georgia, serif;
  // background-color: #fff;
  }

html,
body {
  // display: flex;
  // justify-content: center;
	margin: 0;
	padding: 0;
	font-family: "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
	font-size: 12pt;
	background-color: #eee;
}

/* ------- Pagination */

h1, h2 {
  margin: 0;
  page-break-after: avoid;
  page-break-before: always;
}

p {
  orphans:3;
  widows:3;
}

/* Default left, right, top, bottom margin is 2cm */
@page { margin: 2cm }

/* First page, 10 cm margin on top */
@page :first {
  margin-top: 10cm
}

/* ------ Normal elements */

p {
  text-indent:   1.5em;
  margin-top:    .75em;
  margin-bottom: .75em;
  line-height: 1.3;
}

/* First paragraphs after a title  */

h2+p {
  text-indent: 0em;
}

h2+p:first-letter {
  font-size: 200%;
  color: blue;
  font-family: "Goudy Old Style", Georgia, serif;
  line-height: 50%;
}

h1,h2,h3 {
  text-align: center;
  // letter-spacing: 0.1em;
}

// h1 {
//   margin-top: 3cm;
// }

// h2 {
//   border-top: 5px solid blue;
//   border-bottom: 1px solid blue;
//   padding-top: 5px;
//   padding-bottom: 5px;
//   margin-top: 2cm;
// }

hr {
  width: 50%;
  text-align: center;
}

strong {
  background-color: yellow;
  font-style: normal;
}

blockquote {
  font-size: 90%;
  margin-left: 20%;
  margin-right: 20%;
  }

.off-red {
  color: $off-red;
}