.template-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  'proposalNo head head head head availServices'
  'namephone namephone namephone address address address'
  'body body body body body body'
  'legal legal legal legal legal legal'
  'sig sig sig sig total total';
}

.page {
  box-shadow:
    0 4px 5px rgba(75, 75, 75, 0.2),
    // 0 -1px 1px rgba(0,0,0,0.15),          /* The top layer shadow */
    0 -10px 0 -5px #eee,                  /* The second layer */
    0 -10px 1px -4px rgba(0,0,0,0.15),    /* The second layer shadow */
    0 -20px 0 -10px #eee,                 /* The third layer */
    0 -20px 1px -9px rgba(0,0,0,0.15);    /* The third layer shadow */
	width: 21.6cm; 	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	min-height: 27.9cm; 	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	padding-left: 2cm; /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
	padding-top: 2cm;
	padding-right: 2cm;
  padding-bottom: 2cm;
  margin: 1cm auto;
	background: #fff;
	outline: 0;
}

.pad5 {
  padding: 5px 5px 0 5px;
}

.margin3-75 {
  margin: 3.75px 0 3.75 0;
}

.pad-horizontal {
  padding: 0 5px 0 5px;
}

.proposalNo-container {
  width: 170px;
}

#proposalNo {
  grid-area: proposalNo;
}

/* services available section */
#servicesAvail {
  grid-area: availServices;
  width: 170px;
  padding: 8px 0 8px 0;
}

.services-available {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'col1 col2';
  align-self: center;
  flex-wrap: wrap;
  height: 100%;
}

#namephone {
  grid-area: namephone;
  margin-right: 10px;
  height: 125px;
  align-self: flex-start;
}

#customer-address {
  grid-area: address;
  margin-left: 10px;
  height: 125px;
  align-self: flex-start;
}

#body {
  grid-area: body;
  padding-bottom: 0;
  height: calc( 45px + (10.5 * 40px));
  align-self: flex;
}

#legal {
  grid-area: legal;
  display: flex;
}

.legal-container {
  align-self: flex-start;
}

.acceptance {
  display:inline-block;
  width: 210px;
}

.small-print {
  display: inline;
  font-size: 14px;
}

#sig-date {
  grid-area: sig;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'sig1 date1'
  'sig2 date2';
  justify-items: center;
  align-self: flex-end;
  height: 125px;
}

.sig1 {
  grid-area: sig1;
  display: flex;
  width: 250px;
  justify-content: center;
  margin-top: 30px;
}

.date1 {
  grid-area: date1;
  display: flex;
  width: 120px;
  justify-content: center;
  margin-top: 30px;
}

.sig2 {
  grid-area: sig2;
  display: flex;
  width: 250px;
  justify-content: center;
  margin-top: 30px;
}

.date2 {
  grid-area: date2;
  display: flex;
  width: 120px;
  justify-content: center;
  margin-top: 30px;
}

#cost {
  grid-area: total;
  padding-bottom: 0;
  height: calc( 45px + (2 * 40px));
  align-self: center;
}

.cost-container {
  height: 100%;
}

.cost-line {
  display: flex;
}

.labor {
  width: 200px !important;
  border-right: $off-red 1px dotted;
}
.tax {
  width: 200px !important;
  border-right: $off-red 1px dotted;
}
.total {
  width: 200px !important;
  border-right: $off-red 1px dotted;
  height: 41px;
}

.cents-box {
  width: 47.4px;
  border-bottom: $off-red 1px solid;
  height: 40px;
}

.off-red {
  color: $off-red;
}

@media print { /* When the document is actually printed */
	html, body {
		background-color: #fff; 		/* Reset the document's background color */
	}
	.page {
	// 	/* Reset all page styles that have been for better screen appearance only */
	// 	/* Break cascading by using the !important rule */
	// 	/* These resets are absolute must-haves for the print styles and the specificity may be higher elsewhere */
	// 	width: initial !important;
		min-height: initial !important;
		margin: 0 !important;
	// 	padding: 0 !important;
	// 	border: initial !important;
		border-radius: initial !important;
		background: initial !important;
		box-shadow: initial !important;
	// 	page-break-after: always; 		/* Force page breaks after each .page element of the document */
	}
}
