/*  ------ Global settings */
* {
  font-family: Cambria, Georgia, serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", -apple-system, "San Francisco", "Segoe UI", "Helvetica Neue", sans-serif;
	font-size: 12pt;
	background-color: #eee;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
  page-break-before: always;
  margin: 0;
  text-align: center;
}

h1 {
  page-break-before: always;
  font-size: 30px;
  margin-bottom: 5px;
    // margin: 0.67em 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 1px;
}

p {
  margin: 0;
  text-indent:   1.5em;
  margin-top:    .75em;
  margin-bottom: .75em;
  line-height: 1.3;
  //   orphans:3;
//   widows:3;
}

h2+p {
  text-indent: 0em;
}

h2+p:first-letter {
  font-size: 200%;
  color: blue;
  font-family: "Goudy Old Style", Georgia, serif;
  line-height: 50%;
}

div.page-break {
	page-break-after: always;  	/* Force page breaks after */
}

p + p {
	margin-top: 0.5cm; 	/* Restore the spacing between paragraphs */
}

a {
	text-decoration: none;
  color: black;
  background-color: transparent;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  width: 50%;
  text-align: center;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

strong {
  background-color: yellow;
  font-style: normal;
}

blockquote {
  font-size: 90%;
  margin-left: 20%;
  margin-right: 20%;
  }

@page { margin: 2cm }

@page :first {
  margin-top: 10cm
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
// @page { /* You can only change the size, margins, orphans, widows and page breaks here */
// 	orphans: 4; 	/* Require that at least this many lines of a paragraph must be left at the bottom of a page */
// 	widows: 2; 	/* Require that at least this many lines of a paragraph must be left at the top of a new page */
// }